.app__dark-theme {
    --bg-color: #037171;
    --inverted-bgc: #e7e7e7;
    --inverted-bgc-opacity: #e7e7e777;
    --primary-color: #c5fdfd;
    --secondary-color: #71c2c2;
    --inverted-primary-color: #2d2d2d;
    --inverted-secondary-color: #000;
    --red-light: #ffc2c2;
    --red-dark: #ffadad;
}
