.app.dark {
    --bg-color: #037171;
    --inverted-bgc: #cfcfcf;
    --primary-color: #8ed6d6;
    --secondary-color: #0f5b5b;
    --inverted-primary-color: #2d2d2d;
    --inverted-secondary-color: #000;
}
