.app.light {
    --bg-color: #e8e8ea;
    --inverted-bgc: #232366;

    --primary-color: #00c75d;
    --secondary-color: #098a5d;
    --inverted-primary-color: #5aceff;
    --inverted-secondary-color: #00a2d8;
}