.app__light-theme {
    --bg-color: #e7e7e7;
    --inverted-bgc: #037171;
    --inverted-bgc-opacity: #0371714d;
    --primary-color: #2d2d2d;
    --secondary-color: #000;
    --inverted-primary-color: #8ed6d6;
    --inverted-secondary-color: #0f5b5b;
}
