.app.light {
    --bg-color: #cfcfcf;
    --inverted-bgc: #037171;
    --primary-color: #2d2d2d;
    --secondary-color: #000;
    --inverted-primary-color: #40c7c7;
    --inverted-secondary-color: #008d8d;
}
